<div class="topbarContainer">
    <div class="topbar" [ngStyle]="{borderColor: 'var(--surface-border)', color: 'var(--text-color)', background: 'var(--surface-a)',}">
        <div class="header" >
            <a routerLink="/dashboard" [ngStyle]="{color: 'var(--text-color)'}">
                <div class="headerContainer">
                    <p-avatar icon="pi pi-box" styleClass="mr-2" size="normal" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle" />
                    Order Tracker
                </div>
            </a>
        </div>
        <div class="footer">
            <div class="footerContainer" (click)="toggleSidebar()">
                <p-toggleButton offIcon="pi pi-bars" onIcon="pi pi-times"/>
            </div>
        </div>
    </div>
</div>

<div class="sidebarContainer">
    <div class="sidebar" [ngStyle]="{transform: sidebarVisible ? 'translateX(0)' : 'translateX(-100%)', borderColor: 'var(--surface-border)', color: 'var(--text-color)', background: 'var(--surface-a)',}" >
        <div class="header" >
            <a routerLink="/dashboard" [ngStyle]="{color: 'var(--text-color)'}">
                <div class="headerContainer">
                    <p-avatar icon="pi pi-box" styleClass="mr-2" size="normal" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle" />
                    Order Tracker
                </div>
            </a>
        </div>
        <div class="content">
            <div class="menu-container">
                <p-menu [model]="items" (click) = "activeMenu($event)"/>
            </div>
        </div>
        <div class="footer">
            <div class="footerContainer">
                <p-avatar label="E" styleClass="mr-2" size="normal" shape="circle"/>
                Example User
            </div>
        </div>
    </div>
</div>