:host {
  display: block;
  height: 100%;
}

a, u {
  text-decoration: none;
}

/* 
  MENU STYLING
*/

.p-menu {
  width: 100%;
  background: none;
  border: none;
}

.p-menuitem.active {
  background-color: var(--surface-d);
  color: var(--highlight-text-color);
  border-radius: 0.25rem;
}

.p-menuitem.active .p-menuitem-icon {
  color: var(--highlight-text-color);
}

.p-menu .p-submenu-header {
  margin-bottom: 0.75rem;
}

.p-menu .p-menuitem {
  margin-bottom: 0.75rem;
  height: 42px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.p-menu .p-menuitem > .p-menuitem-content {
  border-radius: 0.25rem;
}

.p-menu .p-menuitem > .p-menuitem-content:hover {
  background-color: var(--surface-d);
}

/* 
  BASE NAVBAR MENU STYLING
*/
.navbar {
  background: var(--surface-a);
  color: var(--text-color);
  border-right: 1px solid var(--surface-d);
  transition: transform .3s;
  display: flex;
  position: fixed;
  z-index: 2; /* Ensure navbar always overlaps other objects */
}

.navbar .header {
  font-weight: 600;
}

.navbar .headerContainer, .navbar .userContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .p-button {
  background: none;
  border: none;
  color: var(--text-color-secondary);
}

.navbar .p-button:hover {
  color: var(--highlight-text-color);
}

.navbar .p-button:focus {
  box-shadow: none;
}

/* Hide specific elements on small screens and adjust navbar layout */
@media screen and (max-width: 650px) {
  .navbarContainer {
    height: 72px;

  }
  
  .navbar, .p-menu {
    width: 100vw;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 1.25rem;
    padding-right: 0.25rem;
    border: none;
  }

  .navbar .subheader, .navbar .userContainer, .subheader, .userContainer {
    display: none;
  }

  .navbar .content, .p-menu {
    position: fixed;
    top: 72px; /* Adjusted based on the actual navbar height */
    left: 0;
    z-index: 1; /* Below navbar to not overlap */
  }

  .p-menu {
    display: none;
  }

  .active .p-menu  {
    display: block;
    background: var(--surface-a);
    padding-top: 0.5rem;
    padding-bottom: 0;
    border-bottom: 1px solid var(--surface-d);
    border-radius: 0 0 0.25rem 0; /* only have radius on bottom side */
    box-shadow: none;
  }

  .p-menu .p-menuitem {
    margin-bottom: 0;
    height: 42px;
    width: 100%;
  }
}

/* Adjustments for larger screens */
@media screen and (min-width: 651px) {
  .navbarContainer, .navbar {
    min-width: 200px;
    width: 15vw;
    height: 100vh;
  }

  .navbar {
    flex-direction: column;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
                0px 24px 38px 3px rgba(0, 0, 0, 0.14),
                0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

  .navbar .header, .navbar .footer {
    padding: 1.25rem;
    height: 72px;
  }

  .navbar .content {
    flex-grow: 1;
    overflow-y: auto;
  }

  .navbar .subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    padding: 0.75rem 1.25rem;
    font-weight: 500;
    background: var(--surface-100);
    border-radius: 0;
  }

  .mobileBurger {
    display: none;
  }
}
