<!-- background -->
<div class="z-0 fixed w-full top-0 left-0 h-full opacity-70">
    <div class="w-full h-full bg-center bg-no-repeat bg-cover" 
        style="background-image: url('https://www.cnet.com/a/img/resize/4e1f3fccd8ac2d8a87864626f0efe54d9ac63039/hub/2013/12/13/be10d54f-67d7-11e3-a665-14feb5ca9861/maps-main.png?auto=webp&fit=crop&height=675&width=1200')">
    </div>
</div>

<div class="grid w-full align-items-center justify-content-center m-auto">
    <div class="z-1">
        <router-outlet />
    </div>
</div>
