<div class="grid">
    <p-card header="Package #{{ email.order }}" subheader="Received: {{ email.dateReceived }}" class="card">
        <!--<ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>-->
        <p [innerHTML]="email.content"></p>
        <ng-template pTemplate="footer">
            <p-button label="Go to order" icon="pi pi-arrow-up-right" (click)="goToOrder(email.order)"></p-button>
        </ng-template>
    </p-card>
</div>