<div class="surface-card p-5 shadow-2 border-round w-full">
    <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Create an Account</div> 
    </div>

    <div>
        <div class="mb-4">
            <label for="email1" class="block text-900 font-medium mb-2">First Name</label>
            <input id="first" type="text" placeholder="First Name" [(ngModel)]="firstName" pInputText class="p-inputtext w-full mb-3">
            
            <label for="email1" class="block text-900 font-medium mb-2">Last Name</label>
            <input id="last" type="text" placeholder="Last Name" [(ngModel)]="lastName" pInputText class="p-inputtext w-full mb-3">

            <label for="email1" class="block text-900 font-medium mb-2">Email</label>
            <input id="email1" type="text" placeholder="Email Address" [(ngModel)]="email" pInputText class="p-inputtext w-full mb-3">
            
            <label for="password2" class="block text-900 font-medium mb-2">Password</label>
            <div class="flex flex-row gap-1">
                <p-password id="password2" placeholder="Password" [(ngModel)]="pass1" [toggleMask]="true"></p-password>

                <p-password id="password3" placeholder="Retype Password" [(ngModel)]="pass2" [toggleMask]="true"></p-password>
            </div>
        </div>

        <div class="flex align-items-center justify-content-center mb-6">
            <div class="flex align-items-center">
                <label for="rememberme1" class="text-900">Already have an account?</label>
                <a routerLink="" class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Log In</a>
            </div>
        </div>

        <p-button (onClick)="signup()" styleClass="w-full" label="Sign Up"></p-button>
    </div>
</div>