<div class="faq-header">
    <h1 class="faq-heading">FAQ</h1>
    <p class="faq-subtitle">Frequently Asked Questions from our Users!</p>
  </div>
  
  <div class="faq">
    <div class="faq-item" *ngFor="let faq of faqList; let i = index">
      <div class="faq-question" (click)="toggleQuestion(i)">
        <span>{{ faq.question }}</span>
        <i class="fa fa-angle-down" *ngIf="activeQuestionIndex !== i"></i>
        <i class="fa fa-angle-up" *ngIf="activeQuestionIndex === i"></i>
      </div>
      <div class="faq-answer" *ngIf="activeQuestionIndex === i">
        {{ faq.answer }}
      </div>
    </div>
  </div>
  