.faq {
    font-family: Arial, sans-serif;
  }
  
  .faq-item {
    margin-bottom: 10px;
  }

  .faq-header {
    text-align: left;
    margin-bottom: 20px; 
  }
  
  .faq-heading {
    font-size: 24px;
    color: #ffffff;
  }
  
  .faq-subtitle {
    font-size: 16px;
    color: #ffffff;
  }  
  
  .faq-question {
    cursor: pointer;
    padding: 10px;
    background-color: #336699;
    border: 1px solid #204060;
    border-radius: 5px;
    color: #fff;
    text-align: center;
  }
  
  
  .faq-answer {
    padding: 10px;
    background-color: #444;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
  }
  
  
  .faq-answer.active {
    display: block;
  }
  
  .fa-angle-up,
  .fa-angle-down {
    margin-left: 5px;
  }
  
