<p-dropdown [options]="filterList" [(ngModel)]="selectedFilter" (onChange)="updateRangeDates()" optionLabel="name" [filter]="true" filterBy="name" styleClass="w-17rem">
    <ng-template pTemplate="filter" let-options="options">
        <div class="flex-auto justify-content-center">
            <label for="dateRange" class="font-semibold block mb-2"> Date Range </label>
            <p-calendar [(ngModel)]="dateStartEnd" selectionMode="range" (onSelect)="onSelect($event)" [readonlyInput]="true" styleClass="w-full" inputId="dateRange"></p-calendar>
        </div>
    </ng-template>
    <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center text-base">
            <div *ngIf="!selectedOption.custom">
                {{ selectedOption.name }}
            </div>
            <div *ngIf="selectedOption.custom">
                {{ selectedOption.startDate | date: 'MM/dd/yyyy' }} - {{ selectedOption.endDate | date: 'MM/dd/yyyy' }}
            </div>
        </div>
    </ng-template>
    <ng-template let-report pTemplate="item">
        <div class="flex align-items-center text-xs">
            <div>{{ report.name }}</div>
        </div>
    </ng-template>
</p-dropdown>