:host {
  display: block;
  height: 100%;
}

a, u {
  text-decoration: none;
}

/* 
  SIDEBAR STYLING
*/
.sidebar {
    background: #1f2937;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid #424b57;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    height: 100vh;
    transition: transform .3s;
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: 200px;
    width: 15vw;
}

.sidebar .header {
  height: 72px;
  padding: 1.25rem;
}

.sidebar .content {
  flex-grow: 1;
  padding: 0px;
  overflow-y: auto;
}

.sidebar .footer {
  height: 72px;
  padding: 1.25rem;
}

.sidebar .headerContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar .footerContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 
  MENU STYLING
*/

.p-menu {
  width: 100%;
  background: none;
  border: 0px;
}

.p-menuitem.active {
  background-color: var(--surface-d);
  color: var(--highlight-text-color);
  border-radius: 0.25rem;
}

.p-menuitem.active .p-menuitem-icon {
  color: var(--highlight-text-color);
}

.p-menu .p-submenu-header {
  margin-bottom: 0.75rem;
}

.p-menu .p-menuitem {
  margin-bottom: 0.75rem;
  height: 42px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.p-menu .p-menuitem > .p-menuitem-content {
  border-radius: 0.25rem;
}

.p-menu .p-menuitem > .p-menuitem-content:hover {
  background-color: var(--surface-d);
}