<div [style.width.px]="uiService.sidebarWidth$ | async">
    <div class="sidebar" [ngStyle]="{borderColor: 'var(--surface-border)', color: 'var(--text-color)', background: 'var(--surface-a)',}" [style]="{'width': (uiService.sidebarWidth$ | async) + 'px'}" >
        <div class="header">
            <div class="headerContainer">
                <p-avatar icon="pi pi-box" styleClass="mr-2" size="normal" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"/>
                Order Tracker
            </div>
        </div>
        <div class="content">
            <div class="menu-container">
                <p-menu [model]="items"/>
            </div>
        </div>
        <div class="footer">
            <div class="footerContainer">
                <p-avatar label="E" styleClass="mr-2" size="normal" shape="circle"/>
                Example User
            </div>
        </div>
    </div>
</div>