:host {
    display: block;
    height: 100%;
  }
  
  .p-sidebar .p-sidebar-content {
    padding: 0px;
  }

  /* Example if the sidebar is a direct child of the body or positioned absolutely/fixed */
  .sidebar-container {
    border: 1px solid #fff;
    width: 150px;
  }

  .menu-container {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
  }
  
  /* Ensure the p-menu component fills the available space */
  p-menu {
    flex: 1;
  }