:host {
  display: block;
  height: 100%;
}

.p-sidebar .p-sidebar-content {
  padding: 0;
}

.p-sidebar-header {
  gap: 10px;
}

.p-sidebar-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*.ui-menu {
  padding: 0px;
}

.ui-contextmenu{
  white-space: nowrap;
  width: auto;
  padding: 0px;
}*/

.menu-container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  overflow-wrap: break-word;
}