<div class="grid">
  <div class="col-12">
    <div class="flex flex-column justify-content-between mb-2">
      <span class="block text-900 text-2xl font-semibold mb-2">Settings</span>
    </div>
    <div>Manage your account, defaults, privacy, and security settings.</div>
  </div>
  <div class="col-12 sm:col-12 lg:col-6 mb-1">
    <div class="surface-card h-full shadow-2 p-3 border-round">
      <div class="flex flex-column justify-content-between mb-2">
        <span class="block text-900 text-2xl font-semibold mb-2">Account</span>
      </div>
      <div>
        <div class="mb-2">
          View and edit your account details.
        </div>
        <div class="flex flex-row">
          <div class="col-6 p-0">
            <span class="text-gray-400">Email</span>
          </div>
          <div class="p-0">
            <span>example&#64;email.com</span>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="col-6 p-0">
            <span class="text-gray-400">Name</span>
          </div>
          <div class="p-0">
            <span>Example User</span>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="col-6 p-0">
            <span class="text-gray-400">Username</span>
          </div>
          <div class="p-0">
            <span>&#64;example_user</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 sm:col-12 lg:col-6 mb-1">
    <div class="surface-card h-full shadow-2 p-3 border-round">
      <div class="flex flex-column justify-content-between mb-2">
        <span class="block text-900 text-2xl font-semibold mb-2">Change Your Password</span>
      </div>
      <div>
        <div>For your security, we highly recommend that you choose a unique password that you don't use for any other online account.</div>
        <div class="flex mt-3 gap-2">
          <p-button size="small" label="Save Changes"></p-button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 sm:col-12 lg:col-6 mb-1">
    <div class="surface-card h-full shadow-2 p-3 border-round">
      <div class="flex flex-column justify-content-between mb-2">
        <span class="block text-900 text-2xl font-semibold mb-2">Defaults</span>
      </div>
      <div>
        <div>Theme Preference</div>
        <div class="flex mt-3 gap-2">
          <p-dropdown label="Select Theme" [options]="themes" [(ngModel)]="selectedTheme" optionLabel="displayName" (onChange)="changeTheme()"></p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 sm:col-12 lg:col-6 mb-1">
    <div class="surface-card h-full shadow-2 p-3 border-round">
      <div class="flex flex-column justify-content-between mb-2">
        <span class="block text-900 text-2xl font-semibold mb-2">Reset Account</span>
      </div>
      <div>
        <div>Clear your orders, emails, account, and more.</div>
        <div class="flex mt-3 gap-2">
          <p-button size="small" label="Reset Account" severity="danger"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>