<div class="grid">
  <div class="col-12">
    <div class="flex flex-column justify-content-between mb-2">
      <span class="block text-900 text-2xl font-semibold mb-2">Settings</span>
    </div>
    <div>Manage your account, defaults, privacy, and security settings.</div>
  </div>
  <div class="col-12 sm:col-12 lg:col-6 mb-1">
    <div class="surface-card h-full shadow-2 p-3 border-round">
      <div class="flex flex-column justify-content-between mb-2">
        <span class="block text-900 text-2xl font-semibold mb-2">Account</span>
      </div>
      <div>
        <div class="flex flex-row">
          <div class="col-6 p-0">
            <span class="text-gray-400">Email</span>
          </div>
          <div class="p-0">
            <span>example&#64;email.com</span>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="col-6 p-0">
            <span class="text-gray-400">Name</span>
          </div>
          <div class="p-0">
            <span>Example User</span>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="col-6 p-0">
            <span class="text-gray-400">Password</span>
          </div>
          <div class="p-0">
            <span>Change Password Btn</span>
          </div>
        </div>
        <div class="flex mt-3 gap-2">
          <p-button size="small" label="Reset Account" severity="danger"></p-button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 sm:col-12 lg:col-6 mb-1">
    <div class="surface-card h-full shadow-2 p-3 border-round">
      <div class="flex flex-column justify-content-between mb-2">
        <span class="block text-900 text-2xl font-semibold mb-2">Feedback</span>
      </div>
      <div>
        <div>Got any feedback? Let us know!</div>
        <div class="flex mt-3 gap-2">
          <p-button size="small" label="Send Feedback"></p-button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 sm:col-12 lg:col-6 mb-1">
    <div class="surface-card h-full shadow-2 p-3 border-round">
      <div class="flex flex-column justify-content-between mb-2">
        <span class="block text-900 text-2xl font-semibold mb-2">Defaults</span>
      </div>
      <div>
        <div>Theme Preference</div>
      </div>
    </div>
  </div>
  <div class="col-12 sm:col-12 lg:col-6 mb-1">
    <div class="surface-card h-full shadow-2 p-3 border-round">
      <div class="flex flex-column justify-content-between mb-2">
        <span class="block text-900 text-2xl font-semibold mb-2">Privacy</span>
      </div>
      <div>
        <div>Manage Cookies and Security</div>
        <div>Configuration Button</div>
      </div>
    </div>
  </div>
</div>