<div class="grid ">
    <div class="col-12">
        <div class="flex flex-column justify-content-between mb-2">
            <span class="block text-900 text-2xl font-semibold mb-2">Settings</span>
        </div>
        <div>
            Manage your account, defaults, privacy, and security settings.
        </div>
    </div>
    <div class="col-12 flex flex-row mb-3">
        <div class="col-12 sm:col-12 md:col-6">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex flex-column justify-content-between mb-2">
                    <span class="block text-900 text-2xl font-semibold mb-2">Account</span>
                </div>
                <div>
                    <div>
                        Email
                    </div>
                    <div>
                        Name
                    </div>
                    <div>
                        Password Reset
                    </div>
                    <div>
                        Reset/Delete Account
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-6">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex flex-column justify-content-between mb-2">
                    <span class="block text-900 text-2xl font-semibold mb-2">Two-Factor Authentication</span>
                </div>
                <div>
                    <div>
                        2FA Message
                    </div>
                    <div>
                        2FA QR Code
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 flex flex-row mb-3">
        <div class="col-12 sm:col-12 md:col-6">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex flex-column justify-content-between mb-2">
                    <span class="block text-900 text-2xl font-semibold mb-2">Defaults</span>
                </div>
                <div>
                    <div>
                        Theme Preference
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-6">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex flex-column justify-content-between mb-2">
                    <span class="block text-900 text-2xl font-semibold mb-2">Privacy</span>
                </div>
                <div>
                    <div>
                        Manage Cookies and Security
                    </div>
                    <div>
                        Configuration Button
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>